@charset "UTF-8";

:root {
    --Stone0: hsl(30, 54%, 90%);
    --Stone1: hsl(30, 18%, 87%);
    --Stone2: hsl(30, 10%, 34%);
    --Stone3: hsl(24, 5%, 18%);
    --Brown: hsl(14, 45%, 36%);
    --Rose1: hsl(332, 51%, 32%);
    --Rose2: hsl(330, 100%, 98%);
}

@media screen and (min-width: 768px) {
    main {
        width: 600px;
        padding: 25px;
    }

    img {
        border-radius: 10px;
    }

    .coluns {
        padding-bottom: 40px;
    }

    table {
        padding-bottom: 30px;
    }

    td {
        width: 200px;
        }
}